.loaderContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* opacity: 0.2; */
}
/* 
.loader {
  width: 296px;
  height: 296px;
  margin: 20% auto 0 auto;
  align-self: center;
}

.loaderText {
  text-align: center;
} */
